.left-img-content{
 float:left !important;
 margin:0 30px 15px 0 !important;
}
.clear-both{
 clear: both !important;
}

@media(max-width:1199px){
.table-responsive table{
  min-width:1000px !important;
}
}


@media(max-width:767px){
.tab-wrap-main .elementor-widget-tabs .elementor-tabs .elementor-tabs-wrapper{
  display:  none!important;
}
}
@media(max-width:575px){
  .dates_to_remember ul li h2 {
    flex: 0 0 calc(100%) !important;
    max-width: calc(100%) !important;
}
.dates_to_remember ul li h5{
      flex: 100% !important;
    max-width: 100% !important;
}
}
