
/* please add this css in new-custome.css file  already class is here just css copy past*/

@media only screen and (max-width: 575.98px) {

    .blogs__item .blogs__item-inner .blogs__img {
        display: block !important;
    }

    .blogs__item .blogs__item-inner {
        background: #d9d7d7 !important;
    }
}

.about_university .feedback-form .main-options .wpcf7-form-control-wrap .wpcf7-radio {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.about_university .feedback-form .main-options .wpcf7-form-control-wrap .wpcf7-radio .wpcf7-list-item {
    margin: 0 !important;
}