.admission-section {
    .main-title {
        margin-bottom: 35px;
    }

    .sm-title {
        font-size: $fs-h6;
        margin-bottom: 30px;
    }

    .admission-wrap {
        padding: 90px 63px;
        background: #F0F0F0;
        border-radius: 0 0 80px 0;
        max-width: 1264px;
    }

    .ul-list{
        padding-left: 20px;
        margin-bottom: 55px;
        padding-bottom:55px;
        border-bottom: 1px solid $primary;
        ul{
            padding-left: 20px;
        }
        li{
            list-style: disc !important;
            &::marker{
                font-size: 14px;
                
            }
        }
    }
}