.campus-section {
    border-top: 2px solid #E9EBEE;
    position: relative;
    z-index: 2;

    .main-title {
        margin-bottom: 65px;
        @include media-breakpoint-down(lg) {
            margin-bottom: 45px;
        }
        @include media-breakpoint-down(md) {
            margin-bottom: 25px;
        }
    }

    .campus-tour {

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            display: inline-block;
            background-color: $primary;
            background-image: url(../images/campus-bg.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left bottom;
            width: 480px;
            height: 550px;
            z-index: -1;
            display: none;
            border-bottom-right-radius: 100px;
            @include media-breakpoint-down(xl) {
                width: 380px;
                height: 500px;
            }
            @include media-breakpoint-down(lg) {
                width: 350px;
                height: 450px;
            }
            @include media-breakpoint-down(md) {
                display: none;
            }
        }

        
        .campus-story {
            position: relative;
            margin-right: 50px;
            @include media-breakpoint-down(lg) {
                margin-right: 0;
            }
            .thumbnail-container {
                padding-bottom: 57%;
                border-radius: 20px;
                @include media-breakpoint-down(lg) {
                    padding-bottom: 70%;
                }
                @include media-breakpoint-down(md) {
                    padding-bottom: 60%;
                }
            }
            .campus-play-btn {
                button {
                    outline: none;
                    box-shadow: none;
                    border: none;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                    background: transparent;
                    @include media-breakpoint-down(lg) {
                        .n-icon {
                            svg {
                                height: 50px;
                                width: 50px;
                            }
                        }
                    }
                }
            }
            video {
                height: 100%;
                width: 100%;
                border-radius: 20px;
                object-fit: cover;
                object-position: center;
            }
        }
    }
    .top-recruiters {
        
        .recruiters-slider {
            .recruiters-card {
                display: grid;
                grid-template-columns: repeat(2,1fr);
                gap: 20px 50px;
                @include media-breakpoint-down(md) {
                    gap: 10px;
                }
                .thumbnail-container {
                    padding-bottom: 68%;
                    @include media-breakpoint-down(md) {
                        padding-bottom: 50%;
                    }
                }
            }
            .swiper-pagination {
                bottom: 0;
            }
            .swiper-pagination-bullet.swiper-pagination-bullet-active {
                background: $primary;
            }
            .swiper-pagination-bullet {
                background: $black;
                opacity: 1;
            }
            .swiper-wrapper {
                margin-bottom: 25px;
            }
        }
    }
}