.glimpse-life-section {
    position: relative;
    z-index: 2;
    background-image: url(../images/glimpse-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(40, 167, 69, 0.95);
        backdrop-filter: blur(10px);
        display: block;
        width: 100%;
        height: 100%;
        opacity: 0.95;
        z-index: -2;
    }

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        background-image: url(../images/glimpse-shape.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 100%;
        background-position: right bottom;
        display: block;
        z-index: -1;
    }

    >.container {
        >.row {
            margin-top: -150px;
        }
    }

    .glimpse-left {
        .main-title {
            color: $white;
            margin-bottom: 64px;
        }
        p {
            font-size: $fs-base;
            line-height: 30px;
            color: $white;
        }
    }
}