.main-card {
    h3 {
        font-size: $fs-h6;
        font-weight: $fw-b;
        color: $black;

        @include media-breakpoint-down(sm) {
            font-size: 16px;
        }
    }
    &:hover{
        .thumbnail-container{
            img{
                transform: scale(1.04);
            }
        }
    }

    p {
        font-size: $fs-base;
        font-weight: $fw-r;
        color: $black;
    }
    .industry-btn{
        cursor: pointer;
        &::after{
            background: $secondary !important;
        }
        &:hover{
         svg,path{
            stroke: $primary !important;
         }
        }
        svg{
            height: 50px;
            width: 50px;
            path{
                @include css3-prefix(transition, 0.5s ease-in-out);
            }
        }
    }
    .industry-title {
        margin-top: 40px;
        margin-bottom: 28px;
        gap: 5px;

        @include media-breakpoint-down(sm) {
            .industry-btn {
                
                svg {
                    width: 30px;
                    height: 30px;
                  
                }
            }

            .industry-testimonial {
                .main-card {
                    padding: 15px;
                }
            }
        }
    }

    border-radius: 20px 20px 80px 20px;
    border: 1px solid #DFE5E0;
    padding: 30px;
    // background: linear-gradient(126.66deg, #D4D4D4 0%, #FFFFFF 56.91%);
    box-shadow: 0px 4px 14px 0px #E3E3E3;
    height: 100%;

    @include css3-prefix(transition, 0.5s ease-in-out);

    &::after {
        content: "";
        height: 100%;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-radius: 20px 20px 80px 20px;
        background: linear-gradient(126.66deg, #69C17D 0%, #FFFFFF 49.68%);
        border: 1px solid rgba(126, 202, 143, 0.6);
        opacity: 0;
        @include css3-prefix(transition, 0.5s ease-in-out);
    }

    &::before {
        content: "";
        height: 100%;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-radius: 20px 20px 80px 20px;
        background: linear-gradient(126.66deg, #D4D4D4 0%, $white 56.91%);
        opacity: 1;
        @include css3-prefix(transition, 0.5s ease-in-out);

        @include media-breakpoint-down(sm) {
            border-radius: 10px 10px 40px 10px;
        }
    }

    &:hover {
        &::after {
            opacity: 1;
        }

        &::before {
            opacity: 0;
        }

        .industry-btn {
            
                &::after{
                    background: $primary !important;
                }
            
            svg {
                path {
                    fill: $primary;
                }
            }
        }
    }

}

.industry-testimonial {

    .swiper-slide {
        height: auto;
    }

    .main-title {
        margin-bottom: 60px;

        @include media-breakpoint-down(xl) {
            margin-bottom: 50px;
        }

        @include media-breakpoint-down(md) {
            margin-bottom: 30px;
        }
    }

    .industry-slider {
        padding-bottom: 90px;
        margin: 0 49px;

        @include media-breakpoint-down(xl) {
            padding-bottom: 60px;
        }

        @include media-breakpoint-down(md) {
            padding-bottom: 40px;
        }
    }

    .student-slider {
        padding-bottom: 0px;
        margin: 0 49px;
        @include media-breakpoint-down(md){
            padding-bottom: 30px;
        }
    }

    .container {
        position: relative;
    }

    @include media-breakpoint-up(xxl) {
        .container {
            max-width: 1342px;
        }
    }

    @include media-breakpoint-down(lg) {
        .main-card {
            padding: 28px;
        }

    }

    .thumbnail-container {
        padding-bottom: 57%;
        border-radius: 10px 10px 80px 10px;
        img {
        @include css3-prefix(transition, 0.5s ease-in-out);
            &:hover {
         
                box-shadow: 0px 4px 34px 0px rgba(126, 202, 143, 0.6);
            }
        }
    }

    .swiper-btn {
        position: static;
        border: 2px solid #D4D4D4;
        border-radius: 50%;
        height: 43px;
        width: 43px;
        margin-top: 0;
        align-items: center;
        display: flex;
        justify-content: center;
        @include css3-prefix(transition, 0.5s ease-in-out);
        &.swiper-button-disabled{
            opacity: 0.5;
            cursor: auto;
        }

        svg {
            margin-top: -2px;
            @include css3-prefix(transition, 0.5s ease-in-out);
            path{
                @include css3-prefix(transition, 0.5s ease-in-out);
            }
        }
        &:hover{
            border-color: $black !important;
            svg,path{
               stroke: $primary !important;
            }
        }

        @include media-breakpoint-down(sm) {
            height: 30px;
            width: 30px;

            svg {
                width: 20px;
                height: 12px;
            }
        }

    }

    .slider-btn-wrap {
        position: absolute;
        width: 100%;
        height: 43px;
        display: flex;
        justify-content: space-between;
        top: 50%;
        left: 0;
        right: 0;
        padding: 0 15px;
    }

    .industry-button-prev:after,
    .industry-button-prev:after {
        content: none !important;
    }

    .student-button-prev:after,
    .student-button-prev:after {
        content: none !important;
    }

    @include media-breakpoint-down(sm) {
        .main-card {

            p {
                font-size: 14px;
                line-height: normal;
            }

            padding: 15px;

            .industry-title {
                margin-top: 25px;
                margin-bottom: 15px;

            }
        }

    }

    &.student-testimonial {
        padding-bottom: 100px;
        @include media-breakpoint-down(xxl) {
            padding-bottom: 80px;
        }
        @include media-breakpoint-down(xl) {
            padding-bottom: 70px;
        }
        @include media-breakpoint-down(md) {
            padding-bottom: 50px;
        }
    }

}

.industry-bottom-line {
    .container {
        border-bottom: 1px solid $primary;
    }
}