.program-career-section {
    .pc-wrap {
        .nav {
            gap: 82px;
            flex-wrap: nowrap;
            margin-bottom: 43px;
            @include media-breakpoint-down(xl) {
                gap: 50px;
            }
            @include media-breakpoint-down(lg) {
                gap: 40px;
            }
            @include media-breakpoint-down(md) {
                gap: 20px;
                margin-bottom: 25px;
            }
            @include media-breakpoint-down(sm) {
                flex-wrap: wrap;
            }
            .nav-item {
                .nav-link {
                    font-weight: 300;
                    font-size: 38px;
                    padding: 24px;
                    border-radius: 80px;
                    border-bottom: 4px solid #d4d4d4;
                    color: #D4D4D4;
                    letter-spacing: -1px;

                    @include media-breakpoint-down(xl) {
                        font-size: 30px;
                    }
                    @include media-breakpoint-down(lg) {
                        font-size: 25px;
                        padding: 15px;
                    }
                    @include media-breakpoint-down(md) {
                        font-size: 20px;
                        padding: 12px;
                    }
                    @include media-breakpoint-down(sm) {
                        font-size: 18px;
                        width: 100%;
                        letter-spacing: unset;
                    }

                    span {
                        font-weight: 700;
                    }
                    &.active {
                        background-color:transparent;
                        color: $primary;
                        border-bottom: 4px solid $primary;
                        span {
                            color: $black;
                        }
                    }
                }
            }
        }
        .tab-content {

            .pc-title {
                font-size: 18px;
                line-height: 30px;
                margin-bottom: 35px;
                @include media-breakpoint-down(md) {
                    font-size: 16px;
                    line-height: 25px;
                    margin-bottom: 25px;
                }
            }
            
            .pc-list {
                display: grid;
                gap: 40px;
                @include media-breakpoint-down(xl) {
                    gap:30px;
                }
                @include media-breakpoint-down(md) {
                    gap:25px;
                }

                &.program-highlights {
                    grid-template-columns: repeat(4,1fr);
                    @include media-breakpoint-down(lg) {
                        grid-template-columns: repeat(3,1fr);
                    }
                    @include media-breakpoint-down(md) {
                       grid-template-columns: repeat(2,1fr);
                    }
                    @include media-breakpoint-down(sm) {
                        grid-template-columns: repeat(1,1fr);
                    }
                }
                &.career-opportunities {
                    grid-template-columns: repeat(6,1fr);
                    gap: 35px;
                    .pc-item {
                        padding: 26px 15px 25px;
                        border-radius: 10px 10px 60px 10px;
                        &::after{
                            border-radius: 10px 10px 60px 10px;
                        }
                        &::before{
                            border-radius: 10px 10px 60px 10px;
                        }
                        @include media-breakpoint-down(sm) {
                            padding: 20px 15px;
                            border-radius: 10px 10px 40px 10px;
                        }
                    }
                    @include media-breakpoint-down(xl) {
                        gap:20px;
                    }
                    @include media-breakpoint-down(lg) {
                        grid-template-columns: repeat(3,1fr);
                    }
                    @include media-breakpoint-down(md) {
                       grid-template-columns: repeat(2,1fr);
                    }
                    @include media-breakpoint-down(sm) {
                        grid-template-columns: repeat(1,1fr);
                    }
                }
            }


            .pc-item {
                padding: 29px 34px 24px;
                position: relative;
                border-radius: 20px 20px 80px 20px;
                border: 1px solid rgba(223, 229, 224, 1);
                box-shadow: 0px 4px 14px 0px rgba(227, 227, 227, 1);
                
                @include css3-prefix(transition, 0.5s ease-in-out);
                &::after{
                    content: "";
                    height: 100%;
                    z-index: -1;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    border-radius: 20px 20px 80px 20px;
                    background: linear-gradient(126.66deg, #7ECA8F 0%, $white 56.91%);  
                    opacity: 0;
                    @include css3-prefix(transition, 0.5s ease-in-out); 
                    @include media-breakpoint-down(sm){
                        border-radius: 10px 10px 40px 10px;
                    }
                }
                &::before{
                    content: "";
                    height: 100%;
                    z-index: -1;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    border-radius: 20px 20px 80px 20px;
                    background: linear-gradient(126.66deg, #D4D4D4 0%, $white 56.91%);  
                    opacity: 1;
                    @include css3-prefix(transition, 0.5s ease-in-out); 
                    @include media-breakpoint-down(sm){
                        border-radius: 10px 10px 40px 10px;
                    }
                }

                &:hover {
                    transform: translateY(-10px);
                    &::after{
                        opacity: 1;
                    }
                    &::before{
                        opacity: 0;
                    }
                    .pc-icon{
                        transform: rotateY(180deg);
                    }
                }

                @include media-breakpoint-down(md) {
                    padding: 26px 15px 25px;
                }
                @include media-breakpoint-down(sm) {
                    padding: 20px 15px;
                    border-radius: 10px 10px 40px 10px;
                }

                .pc-icon {
                    display: inline-block;
                    margin-bottom: 18px;
                    @include css3-prefix(transition, 0.5s ease-in-out); 
                    @include media-breakpoint-down(md) {
                        margin-bottom: 12px;
                        svg {
                            height: 35px;
                            width: 35px;
                        }
                    }
                }
                .pc-para {
                    font-size: $fs-base;
                    line-height: 30px;
                    @include media-breakpoint-down(md) {
                        font-size: 16px;
                        line-height: 25px;
                    }
                }
            }
        }
    }
}