// library scss
@import "../libraries/bootstrap/css/bootstrap.min.css";
@import "../libraries/bootstrap/scss/functions";
@import "../libraries/bootstrap/scss/variables";
@import "../libraries/bootstrap/scss/mixins/breakpoints";
@import "../libraries/data-swiper-slider/css/swiper-bundle.min.css";
@import "../libraries/fancybox/css/jquery.fancybox.min.css";

// component scss
@import "variables/variables";
@import "mixin/css3mixins";
@import "components/reset-css";
@import "components/img-thum";
@import "components/button";
@import "components/form";

// section scss
@import "section/header-section";
@import "section/banner-section";
@import "section/about-us-section";
@import "section/overview-section";
@import "section/admission-section";
@import "section/footer-section";
@import "section/program-career-section.scss";
@import "section/campus-section.scss";
@import "section/glimpse-life-section.scss";
@import "section/industry.scss";

// page scss
@import "pages/error-page";
@import "pages/thankyou-page";
