.accordion, .accordionv {
    padding: 30px 50px;
    background-color:rgba($primary,0.3);
    @include media-breakpoint-down(xl) {
        padding: 30px 40px;
    }
    @include media-breakpoint-down(lg) {
        padding: 20px 30px;
    }
    @include media-breakpoint-down(md) {
        padding: 20px;
    }
    .accordion-item{
        background-color: transparent;
        border: 0px !important;
        border-radius: 0px;
        position: relative; 
        padding: 25px 0;
        @include media-breakpoint-down(xl) {
            padding: 20px 0;
        }
        @include media-breakpoint-down(md) {
            padding: 15px 0;
        }
        + .accordion-item{
            border-top: 1px solid rgba($primary,0.5)!important;
        }
        .accordion-button{
            position: relative;
            border: 0;
            box-shadow: none;
            background: none;
            line-height: 130%;    
            font-size: 24px;
            padding: 0;
            color: $body;
            font-family: $ff-primary;
            font-weight: $fw-m;
            @include media-breakpoint-down(xxl) {
                font-size: $fs-lg + 2px;
            }
            @include media-breakpoint-down(xl) {
                font-size: $fs-lg;
            }
            @include media-breakpoint-down(md) {
                font-size: $fs-base;
                padding: 20px 30px 20px 0;
            }
            &:not(.collapsed) {
                color: $primary;
                .n-icon{
                    svg{
                        transform-origin: center;
                        transform: rotateX(-180deg);
                    }
                }
            }
            &::after{
                display: none;
            }
            .n-icon{
                position: absolute;
                right: 0;
                top: 4px;
                width: 18px;
                height: 18px;
                display: flex;
                align-items: center;
                @include css3-prefix ('transition', 'all 0.2s ease-in-out');
                @include media-breakpoint-down(lg) {
                    width: 16px;
                    height: 16px;
                }
                @include media-breakpoint-down(lg) {
                    width: 14px;
                    height: 14px;
                }
                @include media-breakpoint-down(md) {
                    width: 12px;
                    height: 12px;
                }
                svg {
                    width: 100%;
                    height: 100%;
                    fill: $primary;
                    @include css3-prefix ('transition', 'all 0.2s ease-in-out');
                    path {
                        fill: $primary;
                    }
                }
            }
        }
        .accordion-collapse {
            h1, h2, h3, h4, h5, h6 {
                + p {
                    margin-top: 20px;
                }
            }
            p {
                + p, + h1, + h2, + h3, + h4, + h5, + h6 {
                    margin-top: 20px;
                }
            }
            ul, ol {
                li {
                    + li {
                        margin-top: 7px;
                    }
                }
            }            
            @include media-breakpoint-down(xl) {
                font-size: $fs-base;
            }
            @include media-breakpoint-down(md) {
                font-size: $fs-base - 2px;
            }
            .accordion-body{
                padding: 15px 0 0;
            }
        }
    }
}
