/* Button S */
.btn{
    position: relative;
    font-family: $ff-primary;
    font-size: $fs-base;
    font-weight: $fw-r;
    line-height: 120%;
    letter-spacing: 0.2px;
    padding: 14px 27px;
    border: none;
    box-shadow: none;
    display: inline-block;
    z-index: 1;
    border-radius: 30px;
    text-align: center;
    overflow: hidden;
    &.btn-sm{
        padding: 10px 20px;
    }
    &.btn-lg{
        padding: 18px 34px;
        font-size: $fs-lg;
        @include media-breakpoint-down(xl){
            font-size: $fs-base;
            padding: 14px 27px;
        }
    }
    &:hover,
    &:focus,
    &:visited,
    &:active{
        box-shadow: none !important;
    }
    &.btn-primary, 
    &.btn-secondary, 
    &.btn-tertiary{
        color: $white;
        &::before {
            content: '';
            position: absolute;
            top: 0px;
            left: auto;
            right: 0px;
            bottom: 0px;
            width: 0px;
            transition: all 0.5s ease-in-out;
            height: 100%;
            z-index: -1;
            border-radius: inherit;
            @include media-breakpoint-down(xl){
                display: none;
            }
        }
        &:not(:hover):visited{
            color: $white;
        }
        &:hover,
        &:focus,
        &:visited,
        &:active{
            @include media-breakpoint-up(xl){
                color: $white;
                &::before {
                    left: 0px;
                    width: 100%;
                    right: auto;
                }                
            }
        }
    } 
    &.btn-primary{
        background-color: $primary;
        &:hover,
        &:focus,
        &:visited,
        &:active{
            @include media-breakpoint-up(xl){
                color: $white;
                &::before {                
                    background-color: $secondary;
                }
            }
        }
    }
    &.btn-secondary{
        background-color: $secondary;
        &:hover,
        &:focus,
        &:visited,
        &:active{
            @include media-breakpoint-up(xl){
                color: $white;
                &::before {                
                    background-color: $primary;
                }
            }
        }
    }
    &.btn-tertiary{
        background-color: $body;
        &:hover,
        &:focus,
        &:visited,
        &:active{
            @include media-breakpoint-up(xl){
                color: $white;
                &::before {                
                    background-color: $secondary;
                }
            }
        }
    }
}
.btn-link {
    font-weight: $fw-m;
    font-size: $fs-lg;
    color: $primary;
    display: inline-block;
    text-decoration: none !important;
    @include media-breakpoint-down(xxl) {
        font-size: $fs-base;
    }
    &:hover,&:focus,&:active {
        color: $secondary;
        i{
        svg, path{
            fill: $secondary;
        }
        }
    }
    i {
        display: inline-block;
        margin-right: 10px;
        @include css3-prefix('transform',translateZ(0));
        svg {
            fill: $primary;              
            path {
            fill: $primary; 
            }
        }
        @include media-breakpoint-down(xxl) {
            margin-right: 10px;
        }
    }
    @media (min-width:1199px) {
        i {
            svg {
                @include css3-prefix ('transition','all 0.5s linear');
                @include css3-prefix ('transform-origin',center center);
            }                
        }
        &:hover {                
            i {
                svg {
                    @include css3-prefix('transform',rotate(180deg) translateZ(0));
                }                    
            }
        }
    }
    &.btn-link-secondary {
        color: $secondary;
        &:hover,&:focus,&:active {
        color: $secondary;
        }
        i {
        svg {
            fill: $secondary;              
            path {
            fill: $secondary; 
            }
        }
        }
    }
}
/* Button E */
