.form-control {
    width: 100%;
    background-color: $white;
    padding: 0.375rem 0.75rem;
    outline: 0;
    font-size: 16px;
    color: $black;
    display: block;
    box-shadow: none !important;
    @include css3-prefix ('transition', 'all 0.5s ease-in-out');    
    &:hover, &:focus, &:active {
        border-color: rgba($color:$black, $alpha: 0.4);
        outline: none;
    }
}
textarea {
    &.form-control {
        height: 120px;
    }
}
