/* Center Images Thumbnail S */
    body {
        .thumbnail-container{
            padding-bottom: 100%;
            overflow: hidden;
            position: relative;
            width: 100%;
            background-color:rgba($color: $primary, $alpha: 0.05);
            @include css3-prefix('border-radius', '0');
            &.object-fit{
                img,a,iframe{ 
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                }
            }
            .thumbnail {
                margin: 0px;
                display: block;
                padding: 0px;
                border: none;
                height: 100%;
                width: 100%;
                position: absolute;
                background: none;
                a, img,iframe{
                    display: block;
                    height: auto;
                    max-height: 100%;
                    max-width: 100%;
                    width: auto;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    margin: auto;
                    position: absolute;
                }
            }
        }
    }
/* Center Images Thumbnail S */