/* Reset CSS S */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: inherit;
  text-rendering: optimizeLegibility;
}
html {
  height: 100%;
  width: 100%;
}

body {
  font-family: $ff-primary !important;
  font-size: $fs-base;
  font-weight: $fw-r;
  line-height:$lh-base;
  color: $body;
  font-style: normal;
  letter-spacing: 0px;
  word-spacing: 0px;
  text-transform: inherit;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:focus {
  outline: 0;
}
/* Reset CSS E */

/* Body S */
body {
  a {
    color: inherit;
    text-decoration: none;
    transition: all 0.5s ease-in-out;

    &:hover {
      color: inherit;
    }
  }

  a,
  a:hover,
  a:focus,
  a:active {
    color: inherit;
    text-decoration: none;
    outline: 0;
    outline-offset: 0;
    transition: all 0.5s ease-in-out;
  }

  ol,
  ul {
    list-style-position: inside;
  }

  ul {
    li {
      list-style: none;
    }
  }

  p,
  ul li,
  ol li {
    font-style: normal;
    word-spacing: 0px;
    text-transform: inherit;
    word-break: break-word;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: $fw-b;
    font-family: $ff-primary;
    line-height: 110%;
    font-style: normal;
    letter-spacing: 0px;
    word-spacing: 0px;
    text-transform: inherit;
    margin: 0;
    padding: 0;
    color: $body;

  }

  h1 {
    font-size: $fs-h1;
    @include media-breakpoint-down(xxl) {
      font-size: $fs-h2;
    }

    @include media-breakpoint-down(xl) {
      font-size: $fs-h2 - 4px;
    }

    @include media-breakpoint-down(md) {
      font-size: $fs-h3 - 4px;
    }
  }

  h2 {
    font-size: $fs-h2;
    @include media-breakpoint-down(xxl) {
      font-size: 50px;
    }

    @include media-breakpoint-down(xl) {
      font-size: $fs-h3;
    }

    @include media-breakpoint-down(md) {
      font-size: $fs-h4 - 5px;
    }
  }

  h3 {
    font-size: $fs-h3;
    @include media-breakpoint-down(xxl) {
      font-size: $fs-h4;
    }
    @include media-breakpoint-down(md) {
      font-size: $fs-h5;
    }
  }

  h4 {
    font-size: $fs-h4;

    @include media-breakpoint-down(xxl) {
      font-size: $fs-h4 - 5px;
    }

    @include media-breakpoint-down(md) {
      font-size: $fs-h5 - 3px;
    }
  }

  h5 {
    font-size: $fs-h5;

    @include media-breakpoint-down(xl) {
      font-size: $fs-h5 - 3px;
    }
    @include media-breakpoint-down(md) {
      font-size: $fs-h6 + 2px;
    }
  }

  h6 {
    font-size: $fs-h6;
  }

  img {
    max-width: 100%;
    width: auto;
  }
}
/* Body E */

/*Main Title*/
.main-title {
  font-size: $fs-h2;
  letter-spacing: -1px;
  span{
    display: inline-block;
    font-weight:$fw-l;
    color:$primary;
  }

  @include media-breakpoint-down(xxl) {
    font-size: 50px;
  }

  @include media-breakpoint-down(xl) {
    font-size: $fs-h3;
  }

  @include media-breakpoint-down(md) {
    font-size: $fs-h4 - 5px;
  }
}

/* CMS Container S*/
.container {
  @media (min-width: 1200px) {
    max-width: 1130px;
  }
}

.thumbnail-container {
  &.object-fit {
    img {
      &.lazy {
        width: initial !important;
        height: initial !important;
        object-fit: none !important;
        max-width: initial !important;
        max-height: initial !important;
      }

      &.loaded {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover !important;
      }
    }
  }
}

/* Spacer Class End */
img[src*="loader.gif"] {
  object-fit: initial !important;
  width: auto !important;
  height: auto !important;
}

/* Section Gaping Start */
.section-gap {
  position: relative;
  z-index: 1;
  padding: 75px 0;

  @include media-breakpoint-down(xxl) {
    padding: 60px 0;
  }
  @include media-breakpoint-down(xl) {
    padding: 50px 0;
  }
  @include media-breakpoint-down(lg) {
    padding: 40px 0;
  }
  @include media-breakpoint-down(md) {
    padding: 30px 0;
  }

  &.double-gap-t {
    padding-top: 150px;

    @include media-breakpoint-down(xxl) {
      padding-top:120px;
    }
    @include media-breakpoint-down(xl) {
      padding-top:100px;
    }
    @include media-breakpoint-down(lg) {
      padding-top: 80px;
    }
    @include media-breakpoint-down(md) {
      padding-top:60px;
    }
  }

  &.double-gap-b {
    padding-bottom: 150px;

    @include media-breakpoint-down(xxl) {
      padding-bottom:120px;
    }
    @include media-breakpoint-down(xl) {
      padding-bottom:100px;
    }
    @include media-breakpoint-down(lg) {
      padding-bottom: 80px;
    }
    @include media-breakpoint-down(md) {
      padding-bottom:60px;
    }
  }

  &.double-gap {
    padding: 150px 0;

    @include media-breakpoint-down(xxl) {
      padding:120px 0;
    }
    @include media-breakpoint-down(xl) {
      padding:100px 0;
    }
    @include media-breakpoint-down(lg) {
      padding: 80px 0;
    }
    @include media-breakpoint-down(md) {
      padding:60px 0;
    }
  }
}

/* Section Gaping End */