//  Font family Variables
$ff-primary: 'Inter', sans-serif;
$ff-secondary: 'Gelasio', serif;

// Font Family use class   
.ff-primary{font-family: $ff-primary;}
.ff-secondary{font-family: $ff-secondary;}

// basic font size variable
$fs-base: 16px;
$fs-md: 14px;
$fs-lg: 18px;

// basic font size class
.fs-12{font-size: 12px !important;}
.fs-13{font-size: 13px !important;}
.fs-14{font-size: 14px !important;}
.fs-15{font-size: 15px !important;}
.fs-16{font-size: 16px !important;}
.fs-18{font-size: 18px !important;}
.fs-20{font-size: 20px !important;}

// heading font size variable
$fs-h1:55px;
$fs-h2:48px;
$fs-h3:42px;
$fs-h4:36px;
$fs-h5:28px;
$fs-h6:22px;

// basic lineheight variable
$lh-base: 130%;

// Font Weight variable
$fw-l: 300;
$fw-r: 400;
$fw-m: 500;
$fw-sb: 600;
$fw-b: 700;

// Font Weight class
.fw-semibold { font-weight: $fw-sb; }
.fw-medium { font-weight: $fw-m; }


